.autocomplete 
{
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}
input 
{
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}
input[type=text] 
{
	background-color: #f1f1f1;
	width: 100%;
}
input[type=submit] 
{
	background-color: DodgerBlue;
	color: #fff;
}
.autocomplete-items 
{
	position: relative;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div 
{
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover 
{
	/*when hovering an item:*/
	background-color: #e9e9e9;
}
.autocomplete-active 
{
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}

.btn-group
{
	margin: 0;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.btn-group > button 
{
	color: #000;
	background-color: #f7d78a;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	width: 50%; /* Set a width if needed */
	display: block; /* Make the buttons appear below each other */
}

.btn-group > button:not(:last-child) 
{
	border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group > button:hover 
{
	background-color: #4f6a56;
}

.tab
{
	display: none;
}

.tab table
{
	width: 100%;
	padding: 10px;
}

.tab td
{
	white-space: nowrap;
}

.tab td:last-child
{
	padding-left: 15px;
	width: 100%;
}

.tab input
{
	border: 1px solid #aaaaaa;
	width: 100%;
	background-color: #fff;
}

.tab textarea
{
	border: 1px solid #aaaaaa;
	width: 100%;
	padding: 10px;
	resize: none;
}

.tab > button
{
	border: 1px solid #aaaaaa;
	margin-left: 10px;
	margin-top: 10px;
	height: 28px;
	width: 80px;
	color: #000;
	background-color: #f7d78a;
	cursor: pointer;
}

.tab > button:hover 
{
	background-color: #4f6a56;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover 
{
	background: #4f6a56;
}

.ui-autocomplete
{
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-autocomplete-loading
{
	background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.tab select
{
	width: 45%;
}

.tab .char-btn
{
	width: auto;
}